[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=TerminalEmulator
X-XFCE-CommandsWithParameter=cool-retro-term "%s"
Icon=cool-retro-term
Name=cool-retro-term
X-XFCE-Commands=cool-retro-term

